.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @font-face {
    font-family: FontName;
    src: url('path/filename.eot');
    src: url('path/filename.eot?#iefix') format('embedded-opentype'),
    url('path/filename.woff2') format('woff2'), url('path/filename.woff') format('woff'), url('path/filename.ttf') format('truetype');
    }
    @font-face {
        font-family: FontName;
        src: url('path/filename.eot');
        src: url('path/filename.eot?#iefix') format('embedded-opentype'),
        url('path/filename.woff2') format('woff2'), url('path/filename.woff') format('woff'), url('path/filename.ttf') format('truetype');
        }